/*
 Theme Name:   himalayas-child
 Theme URI: https://themegrill.com/themes/himalayas/
 Author:       Isaac Dalli
 Author URI:   http://example.com
 Description: Child Theme
 Template:     himalayas
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  himalayas-child
*/

.beta{
	color: black;
}

.product-title{
	color: #333;
}

.tg-container{
	box-sizing: border-box;
}

.shop-table{
	background: #000;
}

.storefront{
	background: #fff;
}

.site-content{
	background: #eee;
}

#main .tg-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: monospace
}

body{
	background: #eee;
}

.header-wrapper {
	background: #ccc;
}

.woocommerce-cart-form{
	background: #eee
}